@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    body {
        @apply bg-gray-50 text-gray-900 dark:bg-slate-900 dark:text-slate-50;
    }
}

@layer components {
    /* --- NAVIGATION BAR --- */
    .navbar {
        @apply sticky top-0 z-50 flex items-center justify-between px-4 py-4 
        bg-zinc-200 border-b border-gray-200 shadow-sm sm:px-6 lg:px-8 
        dark:bg-gray-900 dark:border-gray-800;
    }
    /* Brand Logo */
    .logo {
        @apply flex items-center gap-2 text-2xl font-extrabold text-gray-900 dark:text-white;
    }
    .logo span {
        @apply text-blue-600 dark:text-blue-500;
    }
    /* Center Navigation Links */
    .nav-links {
        @apply hidden list-none items-center gap-8 md:flex;
    }
    .nav-links a {
        @apply font-medium text-gray-600 transition-colors duration-200 
        dark:text-gray-400 hover:text-gray-900 dark:hover:text-white;
    }
    .auth-buttons {
        @apply flex items-center gap-4;
    }
    .btn {
        @apply px-5 py-2.5 text-sm font-semibold rounded-lg transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-offset-gray-900;
    }
    .btn-login {
        @apply bg-transparent border border-transparent text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:bg-blue-50 dark:hover:bg-blue-900/30;
    }
    .btn-primary {
        @apply text-white bg-blue-600 shadow-sm hover:bg-blue-700 focus:ring-blue-500;
    }
    .label {
        @apply block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1
    }
    .input {
        @apply w-full rounded-lg px-3 py-2 text-gray-900 dark:text-white bg-white dark:bg-gray-900 border
                shadow-sm focus:outline-none focus:ring-2 transition-colors duration-200
    }
    .submit-btn {
        @apply w-full py-3 px-4 bg-blue-600 hover:bg-blue-700 
        text-white font-semibold rounded-lg shadow-md shadow-blue-500/20 
        transition duration-200 cursor-pointer
    }
    .form-input-error {
        @apply text-red-500 text-xs mt-1.5 font-medium
    }
    .footer {
        @apply sticky z-50 flex items-center justify-between px-4 py-4 mt-auto
        bg-zinc-200 border-b border-gray-200 shadow-sm sm:px-6 lg:px-8 
        dark:bg-gray-900 dark:border-gray-800;
    }
    .dashboard-sidebar {
        @apply flex flex-col w-64 min-h-[calc(100vh-250px)] px-4 py-8 shadow-sm 
        bg-zinc-200 border-r border-gray-200 dark:bg-gray-900 dark:border-gray-800
    }
    .tickets-table {
        @apply bg-zinc-200 dark:bg-gray-800 rounded-xl 
        shadow-sm border border-gray-200 dark:border-gray-700 overflow-hidden
    }
    .tickets-table thead {
        @apply bg-zinc-200 dark:bg-gray-900/50
    }
    .tickets-table tbody {
        @apply divide-y divide-gray-200 dark:divide-gray-700 bg-gray-300 dark:bg-gray-800
    }
}